<div class="summary">
  <h1>Your Final Score: <span>{{ state.currentScore }}% ({{ state.currentTotalCorrect }} of {{ state.config.amount }} questions)</span></h1>

  <ul class="selected-prefs">
    <li>Amount: {{ state.config.amount }}</li>
    <li>Category: {{ state.config.category | titlecase }}</li>
    <li>Difficulty: {{ state.config.difficulty | titlecase }}</li>
    <li>Type: {{ state.config.type | titlecase }}</li>
  </ul>

  <div class="row">
    <div class="col btn-tryAgain">
        <button class="btn btn-primary" (click)="navigateToQuestionsView()">Ready to try again?</button>
    </div>
    <div class="col btn-returnSettings">
        <button class="btn btn-primary" (click)="navigateToPrefsView()">Return to Settings</button>
    </div>
  </div>
</div>