<div class="stats row">
    <p class="stats-index col">{{ state.currentQuestionIndex +1 }} of {{state.config.amount}} {{state.config.category}} {{state.config.difficulty}} {{state.config.finalUrl}}</p>
    <p class="stats-score-wrapper col">Current Score: {{ state.currentScore }}% </p>
</div>