<div class="preferences">
    <h1 class="text-center mb-4">How about some trivia?</h1>
    <form #preferencesForm="ngForm" (ngSubmit)="getFormData(preferencesForm.value);">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="mb-3 form-group">
                    <label for="questionAmount">Amount</label>   
                    <select [ngModel]="state.config.amount" name="questionAmount" class="custom-select form-control">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <div class="mb-3 form-group">
                    <label for="category">Category</label>   
                    <select [ngModel]="state.config.category" name="category" class="custom-select form-control">
                        <option value="any">Any Category</option>
                        <option value="{{ category.id }}" *ngFor="let category of state.formCategories">{{ category.name }}</option>
                    </select>
                </div>

                <div class="mb-3 form-group">
                    <label for="difficulty">Difficulty</label>   
                    <select [ngModel]="state.config.difficulty" name="difficulty" class="custom-select form-control">
                        <option value="any">Any Difficulty</option>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>

                <div class="mb-5 form-group">
                    <label for="type">Type</label>   
                    <select [ngModel]="state.config.type" name="type" class="custom-select form-control">
                        <option value="any">Any Type</option>
                        <option value="multiple">Multiple Choice</option>
                        <option value="boolean">True/False</option>
                        <!-- <option value="{{ type }}" *ngFor="let type of state.formType">{{ type | titlecase }}</option> -->
                    </select>
                </div>

                <p class="text-center"><button type="submit" class="btn btn-primary">Start a Game</button></p>
            </div> 
        </div>
    </form>
</div>
