@import "~src/scss/includes/functions";
@import "~src/scss/includes/mixins";
@import "~src/scss/includes/variables";



.preferences {
    text-align: left;
    margin-top: map-get($spacers, 3);
    @include media-breakpoint-up(md) { margin-top: map-get($spacers, 5); }
    &.hidden { opacity: 0; }
}