
<div *ngIf="state.isLoaded; else notLoaded">
    <tr-stats></tr-stats>
    <div> 
        <h1 class="question">{{ state.questions[state.currentQuestionIndex]?.question | htmlEntity }}</h1> 
        <div class="row justify-content-center">
            <ul class="answers col col-md-6">
                <li *ngFor="let answer of state.mergedAnswers; let i = index;" class="answer">
                    <button type="button"
                    class="btn btn-block"
                    [class.btn-success]="i === state.correctAnswerIndex && state.buttonDisabledStatus == true"
                    [class.btn-warning]="i === selectedItem && state.buttonDisabledStatus == true && i !== state.correctAnswerIndex"
                    value="{{ i }}" (click)="processAnswer($event);state.buttonDisabledStatus = true; selectedItem = i;" [disabled]="state.buttonDisabledStatus">{{ answer | htmlEntity }}</button>
                </li>
            </ul>
        </div>
        <tr-feedback (nextQuestionClick)="determineQuestionType()"></tr-feedback>
    </div>
</div>


<ng-template #notLoaded>
  <img src="./assets/loader.svg" class="mt-6" />
</ng-template>