@import "~src/scss/includes/functions";
@import "~src/scss/includes/mixins";
@import "~src/scss/includes/variables";


.question {
    text-shadow: 0 1px rgba(255,255,255,0.7);
    margin-bottom: (map-get($spacers, 4) * 1.5);
    @include media-breakpoint-up(md) { margin-bottom: map-get($spacers, 5); }
}

.answers {
    list-style: none;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(md) {  margin-bottom: map-get($spacers, 5); }
}

.answer {
    margin-bottom: map-get($spacers, 3);
}
