@import "~src/scss/includes/functions";
@import "~src/scss/includes/mixins";
@import "~src/scss/includes/variables";



.feedback {
    background: rgba(255,255,255,0.5);
    padding: map-get($spacers, 3);
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.03);
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
}

.feedback-response {
    margin: 0 0 map-get($spacers, 3);
    font-size: $font-size-base;
    @include media-breakpoint-up(lg) { 
      font-size: $font-size-lg; 
      margin: 0;
    }
}

.feedback-button {
    text-align: center;
    @include media-breakpoint-up(lg) { 
      text-align: right;
    }
}