<div class="feedback row" *ngIf="state.chosenAnswerStatus !==undefined">
    <div class="col-lg-8">
        <p class="feedback-response" *ngIf="state.chosenAnswerStatus !==undefined">{{ feedbackResponse }} "<strong>{{ state.correctAnswer | htmlEntity }}</strong>".</p>
    </div>
    <div class="col feedback-button">
        <button class="btn btn-primary" (click)='advanceNextQuestion(1);state.buttonDisabledStatus = false'>Next Question</button>
    </div>
</div>