/*** ----------------------------------

CUSTOM LAYOUT STYLES
---------------------------------------

filename:asset/scss/custom
copyright: Flagship Creative
License:CC BY Flagship
contact:info@weareflagship.com

-------------------------------------------------------------------------- ***/
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
  }

main {position: relative;}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #ecece3 0%,#a5f0f7 100%);
    text-align: center;
    height: 100%;
    padding-top: map-get($spacers, 3);
    @include media-breakpoint-up(md) { padding-top: map-get($spacers, 4); }
}



.stats {
    font-size: $font-size-sm;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(md) { 
      font-size: $font-size-base; 
      margin-bottom: map-get($spacers, 4)
    }
    @include media-breakpoint-up(lg) { 
      font-size: $font-size-lg;
    }
    
}

.stats-index {
    text-align: left;
}

.stats-score-wrapper {
    text-align: right;
}




.summary {
    margin-top: map-get($spacers, 5);
}

.selected-prefs {
    font-size: $font-size-lg;
    list-style: none;
    padding: 0;
    margin: map-get($spacers, 4) 0 map-get($spacers, 5) 0;
}

.btn-tryAgain {
    text-align: center;
    margin-bottom: map-get($spacers, 3);
    @include media-breakpoint-up(lg) { 
      text-align: right; 
      margin-bottom: 0;
    }
}

.btn-returnSettings {
    text-align: center;
    @include media-breakpoint-up(lg) { text-align: left; }
}

